body {                      
                                                                    /* Coloco la url, con un size de cover y lo convierto en flex para poder ordenar los items en columnas */
background-image: url(/Assets/Fondo2.jpg);
background-size: cover;
display: flex;
flex-direction: column;
margin:0;
}

    .navbar {
                                                                      /* Coloco el overflow para que el logo tenga aire por arriba, un color discreto, le doy cierta altura con height y la anchura completa con width y lo situo en lo mas alto con top:0, lo convierto en un contenedor flex y space between para que los elementos se alineen por los extremos */
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    height: 50px;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    }

    .navbar a {
                                                                        /* Aquí doy estilo a los botones, haciéndolo colocarse en la posición que busco, distanciandolos del resto de elementos de la navbar, dandole color a las letras y eliminando el subrayado, preparando el camino para la transicion de color  */
    float: left;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
    }

    .navbar a:hover {
                                                                        /* Aqui marco la transicion del background color */
    background-color: #ddd;
    color: black;
    }

          .logo{                                                  
                                                                                /* Esto es el logo, marcando cnhura y altura ademas de añadirle relleno al contenedor */ 
          height: 40px;
          width: 40px;
          padding-left: 20px;
          padding-top: 5px;
          }
          .logoname{  
                                                                              /* Este es el estilo de letras del acompañante del logo */
          font-family: Georgia, 'Times New Roman', Times, serif;
          font-size: 14px;
          color: #530202;
          }
          .logot{                                                        
                                                                                /* El contenedor de logo y letras con display flex y row para que se alineen en fila */
          display: flex;
          justify-items: center;
          flex-direction: row;
          }
    .apartados{
                                                                      /* Colocoo diplay flex para que sea un contenedor flexible y poder aplicar alineacion en fila para que aparezca uno al lado de otro ocupando todo el espacio disponible con space between */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
    
          #grupo {
                                                                        /* Le doy a la primera seccion color y transparencia, relleno y margen, la anchura deseada y esquinas redondeadas  */
            background-color: rgb(95, 104, 187, 0.5);
            padding: 20px;
            margin: 20px;
            border-radius: 20px;
            width: 300px;
            display: flex;
            flex-direction: column;
            
          }
          
                .grupo {
                                                                        /* Le doy al contenedor margin top para separar los labels y una alineacion vertical central  */
                  vertical-align: middle;
                  margin-top: 25px;
                }

                input, textarea {
                                                                        /* Este marcador afecta a todos los text area y les da la anchrura maxima, separacion con box-sizing border box,borde y curvatura en las esquinas */
                  width: 100%;
                  border: 1px solid #ddd;
                  border-radius: 4px;
                  box-sizing: border-box; 
                 }
                 textarea {
                                                                          /* Este marcador me permite darle la anchura deseado al area concreta del emplazamiento de los comentarios */
                  height: 70px;

                 }
                 .h3{
                                                                            /* Oscurezco las letras del checkbox porque se ven demasiado claras respecto al resto */
                  color: black;
                 }
              .tratamientotxt{
                                                                            /* Le coloco al texto un margen para mantener las secciones de la misma altura y alineo el texto al centro de su contenedor */
                text-align: center;
                margin-top: 35px;
              }
              .tratamiento{
                                                                            /* El background es la imagen de tratamiento de datos, le doy tamaño para que ocupe el 100% en ambas longitudes, le redondeo las esquinas a juego con el resto de la web y la separo del contenedor superior, la coloco en el centro del contenedor y la posiciono relativa para poder manejarla en el espacio ya que se me desencuadró de su posición después de un cambio necesario en la estructura del formulario */
                background-image: url(/Assets/Tratamiento-de-Datos.jpg);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                height: 150px;
                width: 300px;
                border-radius: 5%;
                transition: transform 1s ease;  
                margin-top: 40px;           
              }    
                    .tratamiento:hover {
                                                                            /* Hover suficiente para ver la imagen completa */
                    transform: translate(150px, -150px) scale(2);
                    }  
               
          .secciones{
                                                                              /* Aplico a mis dos secciones un display column para que aparezcan sus elementos uno debajo del otro. */
            display: flex;
            flex-direction: column; 
          }
                #grupo2 { 
                                                                              /* Le doy a la segunda seccion color y transparencia, relleno y margen, la anchura deseada y esquinas redondeadas  */
                  background-color: rgb(95, 104, 187, 0.5);
                  padding: 20px;
                  margin: 20px;
                  border-radius: 20px;
                  width: 300px;
                }

              #grupo2 { 
                                                                              /* Le doy a la segunda seccion color y transparencia, relleno y margen, la anchura deseada y esquinas redondeadas  */
                  background-color: rgb(95, 104, 187, 0.5);
                  /* padding: 20px; */
                  margin: 20px;
                  border-radius: 20px;
                  width: 300px;
                }
                #grupo3 { 
                                                                            /* Le doy a la segunda seccion color y transparencia, relleno y margen, la anchura deseada y esquinas redondeadas, la nombro como grupo3 para poder darle margen top y asi cuadrar las bases de la secciones iquierda y derecha  */
                  background-color: rgb(95, 104, 187, 0.5);
                  padding: 20px;
                  margin: 20px;
                  border-radius: 20px;
                  width: 300px;
                  /* margin-top: 50px; */
                  }
                        .botones{
                                                                              /* Separo los botones de enviar y borrar de la parte superior */
                          margin-top: 20px;
                        }




  .talon {
                                                                                /* Le doy color a letras y fondo, las coloco en el centro y le doy tamaño al footer */
    background-color: #333;
    color: #fff;
    text-align: center;
    position: relative;
    width: 100%;
    height: 80px;
  }
.pie{
                                                                                  /* Coloco los dos textos en columna, en el centro y le doy el tamaño que quiero a las letras  */
  font-size: 12px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
}